{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Contact</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}" />

<h1>About Us</h1>





<div class="about-container">
   <p><u>Buzzer Beater</u> is a web application created to give sport enthusiasts an easy way to access details on sports they enjoy to follow.</p>
   <p>Live data of games will be accessible, data such as the date of the games, teams playing, live scores of the games and the betting odds.</p>
   
</div>


{% endblock content %}