{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Home Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
  {% else %}
    <h1>Welcome</h1>
  {% endif %}

  <div class="slideshow">
		<img src="{% static 'images/curry.jpg' %}">
    <img src="{% static 'images/mahomes.jpg' %}">
    <img src="{% static 'images/jesss.jpg' %}">
    <img src="{% static 'images/messi.jpg' %}">
    <img src="{% static 'images/hockey.jpg' %}">
    
	</div>

<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("slideshow")[0].getElementsByTagName("img");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.opacity = "0";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.opacity = "1";
    setTimeout(showSlides, 3000); // Change image every 3 seconds
  }
</script>






{% endblock content %}