{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Home Page</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>

<h1>WELCOME</h1>
<div class="logos">
  <a href="{% url 'hockey' %}"><img src="{% static 'images/nhl-logos/nhl.png' %}" class="nba-logo"></a>
  <a href="{% url 'basketball' %}"><img src="{% static 'images/nba-logos/nba.png' %}" class="nba-logo"></a>
  <a href="{% url 'football' %}"><img src="{% static 'images/nfl-logos/nfl.png' %}" class="nba-logo"></a>
  <a href="{% url 'baseball' %}"><img src="{% static 'images/mlb-logos/mlb.png' %}" class="nba-logo"></a>
  <a href="{% url 'soccer' %}"><img src="{% static 'images/mls-logos/mls.png' %}" class="nba-logo"></a>
</div>

  <div class="slideshow">
		<img src="{% static 'images/curry.jpg' %}">
    <img src="{% static 'images/mahomes.jpg' %}">
    <img src="{% static 'images/jesss.jpg' %}">
    <img src="{% static 'images/izzy.jpg' %}">
    <img src="{% static 'images/messi.jpg' %}">
    <img src="{% static 'images/hockey.jpg' %}">
    
	</div>

<script>
  var slideIndex = 0;
  showSlides();

  function showSlides() {
    var i;
    var slides = document.getElementsByClassName("slideshow")[0].getElementsByTagName("img");
    for (i = 0; i < slides.length; i++) {
      slides[i].style.opacity = "0";
    }
    slideIndex++;
    if (slideIndex > slides.length) {slideIndex = 1}
    slides[slideIndex-1].style.opacity = "1";
    setTimeout(showSlides, 3000); // Change image every 3 seconds
  }
</script>

<br>
<br>

<div class="about-container">
  <p>Welcome to our sports app! We're thrilled to offer you a comprehensive solution for all your sports news and information needs. 
    Our app is designed to provide you with real-time scores and updates for a wide range of professional sports leagues and events.
    Additionally, we've integrated up-to-date betting odds so that you can make informed decisions on your wagers.
    We understand the importance of staying up to date with the latest news and analysis, which is why our app pulls in content from top sports publications. 
    You can customize your experience by filtering by sports and even check in on your favorite teams, 
    ensuring that you only see the news and information that's most relevant to you. Our goal is to offer a one-stop-shop for all things sports, 
    and we're excited to have you join us on this journey!
  </p>
</div>
<br>
<br>
<br>
<br>
<br>





{% endblock content %}