{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Basketball</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}"/>


<div class="table-container">
    <table class="teams">
        <thead>
            <th>Team Name</th>
            <th>Conference</th>
            <th>Team Record</th>
            <th>PPG</th>
            <th>Points Allowed</th>
        </thead>
        <tbody>
            {% for team in teams.body %}
            <tr>
                <td> <a href="{% url team.teamName %}">{{ team.teamCity }} {{ team.teamName }}</a></td>
                <td>{{ team.conference }}</td>
                <td> {{ team.wins}} - {{ team.loss }}</td>
                <td> {{ team.ppg}}</td>
                <td> {{team.oppg}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}