{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Toronto Blue Jays</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}"/>

<div class="logo">
    <img src="{% static 'images/mlb-logos/bluejays.png' %}" class="nba-logo">
</div>


<div class="table-container">
    <table class="players">
        <thead>
            <th>Player Name</th>
            <th>Jersey Number</th>
            <th>Position</th>
            <th>Height</th>
            <th>Hand</th>
        </thead>
        <tbody>
            {% for player in mlb_roster.body.roster %}
            <tr>
                <td>{{ player.longName }}</td>
                <td>{{ player.jerseyNum }}</td>
                <td> {{ player.pos }}</td>
                <td> {{ player.height }}</td>
                <td> {{ player.bat }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="table-container">
    <table class="games">
      <thead>
        <tr>
            <th>Game</th>
        </tr>
      </thead>
      <tbody>
        <tr>
        {% for game in mlb_schedule.body.schedule %}
        {% if game.home and mlb_schedule.body.team != game.home %}
          <td> @ {{ game.home }} </td>
        </tr>
        {% elif game.away and mlb_schedule.body.team != game.away %}
        <tr>
          <td><div class="home-team">{{ game.away }}</div></td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
  </div>
<br><br><br>
{% endblock content %}