<!DOCTYPE html>
<html>
<head>


</head>

<div class="titlebutton">
    <a href="{% url 'home' %}"><h1>Buzzer Beater</h1></a>
</div>


<div class="topnav">
    
    <a class="active" href="{% url 'home' %}">Home</a>
    <a href="{% url 'contact' %}">Contact</a>
    <a href="{% url 'about' %}">About</a>
    <div class="topright">

        
        <div class="dropdown">
            <button class="dropbtn">Sports<i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
              <a href="{% url 'basketball' %}">NBA</a>
              <a href="#">NFL</a>
              <a href="{% url 'soccer' %}">Soccer</a>
              <a href="{% url 'baseball' %}">MLB</a>
              <a href="{% url 'hockey' %}">NHL</a>
            </div>
          </div>
        <a href="{% url 'news' %}">News</a>
        <a href="{% url 'trending' %}">Trending</a>
        
    </div>
    
</div>

<body>

    {% block content %}
    {% endblock content %}



</body>


    <footer > 
        <div class="topright">
            <a href="{% url 'nbateams' %}">NBA Teams</a>
            <a href="{% url 'mlbteams' %}">MLB Teams</a>
            <a href="{% url 'nhlteams' %}">NHL Teams</a>
            <a href="{% url 'nflteams' %}">NFL Teams</a>
        </div>
    </footer>

    
</html>