/* main */

h1{
    font-family: sans-serif, Tahoma;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'fantasy';
}

a:hover{  
    color: navy;
    box-shadow: inset 200px 0 0 0 #f2f2f2;
    
}

a{
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
/* NAV BAR  */
.topnav a:hover{
    color: navy;
}

.titlebutton h1 {
    font-family: 'Marker Felt', fantasy;
    text-transform: uppercase;
    color: rgb(255, 91, 42);
    text-decoration: none;
    text-align: center;
                                                
}

.topnav {
    background-color: rgb(255, 91, 42);
    overflow: hidden;
}


.topnav .topright{
    float: right;
}

.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif, Tahoma;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: navy;
  }

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: sans-serif, Tahoma;
    font-weight: lighter; 
    margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 91, 42);
    z-index: 1;
    float: left;
    box-shadow: 0px 8px 16px 0px rgb(201, 201, 201);
    min-width: 100px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    width: 100px;
    display: block;
}
.dropdown-content a{
    width: 68px;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: white;
    width: 68px;
}



a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

/* table colors*/
table a{
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    text-decoration: none;
}
.east, .west{
    text-align: center;
    font-family: sans-serif, Tahoma;
    font-weight: lighter;
    
    border-collapse: collapse;
    
  }
  
  .east {
    width: 45%; float: right; 
    margin-right: 20px;
   
    
  }
  .west{
    width: 45%; float: left;
    margin-left: 20px;
    
  }

  

  

  caption{
    font-size: larger;
    font-weight: bolder;
  }

  table, td, th {
    border: 2px solid rgb(201, 201, 201);
    
  }

  body table{
    font-family: sans-serif, Tahoma;
    font-weight: lighter;
  }

  


  