/* Slide show*/
.slideshow {
    position: relative;
    height: 600px;
    width: 1000px;
    margin: auto;
}

.slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    height: 600px;
    width: 1000px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow img:first-child {
    opacity: 1;
}
 /* main */

h1{
    font-family: sans-serif, Tahoma;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}

body
{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    font-family: 'fantasy';
}

a:hover{  
    color: navy;
    box-shadow: inset 200px 0 0 0 #f2f2f2;
    
}

a{
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
/* NAV BAR  */
footer{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.topnav a:hover, footer{
    color: navy;
}

.titlebutton h1 {
    font-family: 'Marker Felt', fantasy;
    text-transform: uppercase;
    color: rgb(255, 91, 42);
    text-decoration: none;
    text-align: center;
                                                
}

.topnav, footer{
    background-color: rgb(255, 91, 42);
    overflow: hidden;
}


.topnav .topright, .topright{
    float: right;
}


.topnav a, footer a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    font-weight: lighter;
    font-family: sans-serif, Tahoma;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: white;
    color: navy;
  }

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: sans-serif, Tahoma;
    font-weight: lighter; 
    margin: 0;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(255, 91, 42);
    z-index: 1;
    float: left;
    box-shadow: 0px 8px 16px 0px rgb(201, 201, 201);
    min-width: 100px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    width: 100px;
    display: block;
}
.dropdown-content a{
    width: 68px;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: white;
    width: 68px;
}



a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }





/* SIGN UP  */

.Register{
    width: 400px;
    overflow: hidden;
    margin: auto;
    padding: 40px;
    background: rgb(201, 201, 201);
    border-radius: 15px ;
    font-weight: lighter;
    font-family: sans-serif, Tahoma;
    color: darkblue;
}
h2{
    font-size: 30px;
    text-align: center;
    color: navy;
    padding: 15px;
    font-weight: lighter;
    font-family: sans-serif, Tahoma;
}
label{  
    font-size: 20px;
}
#username{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#firstName{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#lastName{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#email{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#password{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#password2{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}

#sub{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: darkblue;
}

span{
    color: white;
    font-size: 17px;
}

/* LOGIN PAGE */
.login{
    width: 382px;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 450px;
    padding: 80px;
    background: rgb(201, 201, 201);
    border-radius: 15px ;
    font-weight: lighter;
    font-family: sans-serif, Tahoma;
    color: darkblue;
}

form p{
    font-size: 9pt;
}

form a{
    color: white;
    border: solid #f2f2f2;
    border-radius: 2px;
    padding: 3px
}



table, th, td {
    background-color: navy;
    color: white;
    border: 2px solid rgb(201, 201, 201);
    margin: auto;
  }
