{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Basketball</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}"/>

  {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
  {% else %}
    <h1>Basketball Data</h1>
  {% endif %}



<table class="east">
  <caption>Eastern Conference</caption>
  <thead>
    <tr>
      <th>Team Name</th>
      <th>City</th>
      <th>Division</th>
      <th>Abbreviation</th>
    </tr>
  </thead>
  <tbody>
    {% for team in east_teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.city }}</td>
      <td>{{ team.division }}</td>
      <td>{{ team.abbreviation }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<table class="west">
  <caption>Western Conference</caption>
  <thead>
    <tr>
      <th>Team Name</th>
      <th>City</th>
      <th>Division</th>
      <th>Abbreviation</th>
    </tr>
  </thead>
  <tbody>
    {% for team in west_teams %}
    <tr>
      <td>{{ team.name }}</td>
      <td>{{ team.city }}</td>
      <td>{{ team.division }}</td>
      <td>{{ team.abbreviation }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


    


<br>
<br>
<br>
<br>
<br>
<br>
<br>



<h1>Basketball Games on 02-04-2023</h1>
<p>{{ games_str|safe }}</p>
  





{% endblock content %}