{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Basketball</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}"/>

<h1>Upcoming Games</h1>

<div class="button">
  <h2><a href="{% url 'nbateams' %}">NBA Teams</a></h2>
</div>


<div class="table-container">
  <table class="games">
    <thead>
      <tr>
        <th>Home</th>
        <th>VS</th>
        <th>Away</th>
      </tr>
    </thead>
    <tbody>
      {% for game in games_data %}
      <tr>
        <td> {{ game.home_team }}<div class="score">{{game.scores.0.score}}</div></td>
        <td>vs</td>
        <td>{{ game.away_team }} <div class="score">{{game.scores.1.score}}</div></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  

  
  
  
  
</div>








  





{% endblock content %}