{% extends 'base.html' %}

{% block content %}

{% load static %}
<title>Kansas City Chiefs</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/tables.css' %}"/>

<div class="logo">
    <img src="{% static 'images/nfl-logos/chiefs.png' %}" class="nba-logo">
</div>


<div class="table-container">
    <table class="players">
        <thead>
            <th>Player Name</th>
            <th>Jersey Number</th>
            <th>Position</th>
            <th>Height</th>
            <th>Weight</th>
            <th>Age</th>
            <th>College Attended</th>
        </thead>
        <tbody>
            {% for player in nfl_roster.body.roster %}
            <tr>
                <td>{{ player.espnName }}</td>
                <td>{{ player.jerseyNum }}</td>
                <td> {{ player.pos }}</td>
                <td> {{ player.height }}</td>
                <td> {{ player.weight }}</td>
                <td> {{ player.age }}</td>
                <td> {{ player.school }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="table-container">
  <table class="games">
      <thead>
          <tr>
              <th>Week</th>
              <th>Game</th>
          </tr>
      </thead>
      <tbody>
          {% for week in weeks %}
              <tr>
                  <td>{{ week.Week }}</td>
                  <td>
                      {% for game in nfl_schedule.body.schedule %}
                          {% if week.Week == game.gameWeek %}
                            {{ game.away }} @ <div class="home-team">{{ game.home }}</div><br>
                          {% endif %}
                      {% endfor %}
                  </td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
</div>

<br><br><br>
{% endblock content %}